@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* Tailwind CSS Comand */
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */
@theme {
    --font-montserrat: "Montserrat", sans-serif;
}

@layer utilities {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}